/* Reset css (there are some changes): https://andy-bell.co.uk/a-modern-css-reset/ */

/* Box sizing rules */
html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

/* Remove default margin and padding and add border box on each element*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}